* {
  box-sizing: border-box;
}

.hero {
  padding: 1em 0;
  .grid {
    width: 60%;
    margin: 0 auto;
  }
  h1 {
    color: $primary-yellow;
  }
  h2 {
    color: $primary-text-light;
    margin-top: 2em;
  }
  p {
    margin: 1em 0;
  }
}

.features {
  background: $primary-light;
  padding: 2.5em 0;
  h1 {
    font-size: 1.3em;
  }
}

div#iphone {
  display: block;
  margin: 20px auto; 
  width: 11em;
  height: 20em;
  position: relative;
  font-size: 16px; 
  &:before {
    @include border-radius(1em);
    content: '';
    background: $grey-lightest;
    position: absolute;
    top: 0;
    left: 0; 
    width: 11em;
    height: 20em;
  }
  &:after {
    @include border-radius(50%);
    content: '';
    width: 1.25em;
    height: 1.25em;
    position: absolute; 
    bottom: .75em; 
    left: 5em;
    z-index: 0;
    background: $white;
  }
  .group-name {
    color: $primary-blue;
    background: $white; 
    width: 8.5em; 
    top: 1.25em;
    position: absolute; 
    height: 2em;
    z-index: 3;
    left: 1.25em;
    text-align: center;
    line-height: 2.25em;
    border-bottom: 1px solid $grey-lighter;
  }
  .screen {
    background: $primary-light;
    border-top: .5em solid $primary-light;
    border-bottom: .5em solid $primary-light;
    position: absolute;
    top: 1.25em;
    width: 8.5em;
    height: 16em;
    left: 1.25em;
    overflow: hidden;
    z-index: 2;
    .bubble {
      @include border-radius(.25em);
      font-size: .75em;
      line-height: 1em;
      padding: .75em;
      color: $grey-darker;
      margin: 1em 15%;
      width: 70%; 
      position: relative;
      &:first-child {
        margin-top: -9em;
        -webkit-animation: homepage-iphone 12s;
        animation: homepage-iphone 12s;
      }
      &:before {
        content: '';
        position: absolute; 
        width: 0; 
        height: 0;
      }
      &.left {
        background: $grey-lighter;
        margin-left: 20%; 
        margin-right: 10%;
        &:before {
          bottom: .5em; 
          left: -.75em; 
          border-right: 5px solid $grey-lighter;
          border-bottom: 5px solid $grey-lighter;
          border-top: 5px solid transparent;
          border-left: 5px solid transparent;
        }
      }
      &.left.alt-2 {
        background: $grey-lightest;
        &:before {
          border-right: 5px solid $grey-lightest;
          border-bottom: 5px solid $grey-lightest;
        }
      }
      &.left.alt {
        background: $grey-light;
        &:before {
          border-right: 5px solid $grey-light;
          border-bottom: 5px solid $grey-light;
        }
      }
      &.right {
        background: $primary-blue-light; 
        margin-left: 10%; 
        margin-right: 20%;
        &:before {
          bottom: .5em; 
          right: -.75em; 
          border-bottom: 5px solid $primary-blue-light;
          border-left: 5px solid $primary-blue-light;
          border-right: 5px solid transparent;
          border-top: 5px solid transparent;
        }
      }
    }
  }
}