footer {
  color: $grey;
  padding: 1em 0;
  text-align: center;
  a {
    color: $grey; 
    text-transform: lowercase; 
    font-size: .8em;
    text-decoration: none; 
    &:hover {
      color: $primary-blue;
    }
  }
}