body {
  background-color: #fff;
  color: $primary-text;
}

.container {
  width: 100%;
  & > .grid {
    max-width: 960px;
    max-width: 90%;
    margin: 0 auto;
  }
}

.hero {
  h1 {
    margin: 0;
  }
}