{% extends 'base.html' %}
{% block title %}
  Join Events
{% endblock %}
{% block content %}  
  <section class="container main">
    <div class="grid">
      <div class="col--1-of-1 col--centered">
        <h1>Join {{ event.name }}</h1>
        {% if method == 'get' %}
        <form method="post" action="{{ event_id }}">
            {{ form.password.label }}{{ form.password }}
            <input type="submit" name="submit" value="submit" />
        </form>
        {% else %}
          {{ response }}
        {% endif %}
      </div>
    </div>
  </section>
        
{% endblock content %}