{% extends 'base.html' %}
{% block content %}
  <section class="container main">
    <div class="grid">
      <div class="col--1-of-1 col--centered">
        <h1>Submit Preferences</h1>
        {% if error %}
          {{ error }}
        {% else %}
          {% if response %}
            {{ response }}
          {% else %}
            <form id="event_preference" method="post" action="{{ event_id }}">
              {{ form.location.label }}{{ form.location }}     
              <div class="availability">
                <div class="available_time">  
                  <label name="name">Available Times</label><div class="select_time">
                  <input id="availability" type="hidden" name="availability" />
                      <select class="month">
                        {% for i in range(1, 13) %}
                        <option value="{{ i }}"{% if i == today.month %} selected{% endif %}>{{ calendar.month_name[i] }}</option>
                        {% endfor %}
                      </select>
                      <select class="day">
                        {% for i in range(1,32) %}
                        <option value="{{ i }}"{% if i == today.day %} selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                      </select>
                      <select class="year">
                        {% for i in range(today.year,today.year + 3) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                      </select>
                      from
                      <select class="start_hour">
                        {% for i in range(1,13) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                      </select>
                      <select class="start_ampm">
                        <option value="am">am</option>
                        <option value="pm">pm</option>
                      </select>
                      to
                      <select class="end_hour">
                        {% for i in range(1,13) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                      </select>
                      <select class="end_ampm">
                        <option value="am">am</option>
                        <option value="pm">pm</option>
                      </select>
                    </div>
                </div>
              </div>
              <a id="add_available_time" href="#">add another available time</a>
                {% for choice in form.willing_to_spend %}
                  {{ choice }} {{ choice.label }}
                {% endfor %}
<!--             <div>Availability: <input id="availability" style="width: 500px;" type="text" name="availability" />
              <div class="availability">
                <div class="available_time">
                  <select class="month">
                    {% for i in range(1, 13) %}
                    <option value="{{ i }}"{% if i == today.month %} selected{% endif %}>{{ calendar.month_name[i] }}</option>
                    {% endfor %}
                  </select>
                  <select class="day">
                    {% for i in range(1,32) %}
                    <option value="{{ i }}"{% if i == today.day %} selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                  </select>
                  <select class="year">
                    {% for i in range(today.year,today.year + 3) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                  from
                  <select class="start_hour">
                    {% for i in range(1,13) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                  <select class="start_ampm">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                  </select>
                  to
                  <select class="end_hour">
                    {% for i in range(1,13) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                  <select class="end_ampm">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                  </select>
                </div>
              </div>
              <div>
                {% for choice in form.willing_to_spend %}
                  {{ choice }} {{ choice.label }}
                {% endfor %}
              </div>
            </div>    -->   
            <input type="button" id="submit_button" name="submit_button" value="submit" />
            </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}