{% extends 'base.html' %}
{% block content %}
{% if method == 'post' %}
  {% if error %}
    {{ error }}
  {% else %}
    Your event has been created!
  {% endif %}
{% else %}
    <section class="container features">
      <div class="grid">
        <div class="col--1-of-1 col--centered">
          <h1>Create New Event</h1>
          <form method="post" action="create">
            {{ form.name.label }}{{ form.name }}
            {{ form.password.label }}{{ form.password }}
            <input type="submit" name="submit" value="submit" />
          </form>
        </div>
      </div>
    </section>
{% endif %}
{% endblock content %}