{% extends 'base.html' %}
{% block content %}
    <section class="container features">
      <div class="grid">
        <div class="col--1-of-1 col--centered">
          <h1>results</h1>
          {% for possible_venue in possible_venues %}
            {% set venue = possible_venue['venue'] %}
            <h2>{{ venue['name'] }}</h2>
            <h3>{{ venue['location']['address'] }} {{ venue['location']['city'] }}, {{ venue['location']['state'] }}</h3>
            <h4>
            {% for i in range(0, venue['price']['tier']) %}
              $
            {% endfor %}
            </h4>
            <form method="post" action="{{ event.url_decide() }}">
              <input type="hidden" value="{{ venue['name'] }}" name="location_name" />
              <input type="hidden" value="{{ venue['location']['address'] }}" name="location_address" />
              <input type="submit" value="decide on this place" />
            </form>
          {% endfor %}
          <h2>best time</h2>
          {% for possible_time in possible_times %}
            {{ possible_time }} <br />
            start time: {{ possible_times[possible_time]['start_time'] }}<br />
            end time: {{ possible_times[possible_time]['end_time'] }}
            <form method="post" action="{{ event.url_decide() }}">
              <input type="hidden" value="{{ possible_time }}" name="date" />
              <input type="hidden" value="{{ possible_times[possible_time]['start_time'] }}" name="start_time" />
              <input type="hidden" value="{{ possible_times[possible_time]['end_time'] }}" name="end_time" />
              <input type="submit" value="choose this date" />
            </form>
          {% endfor %}  
        </div>
      </div>
    </section>
{% endblock content %}