<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300|Ek+Mukta:700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  </head>
  <body>
    <header class="container">
      <div class="grid">
        <div class="col col--1-of-5">
          <a href="/">
            <img src="{{ url_for('static', filename='images/logo_small.png') }}" alt="Shindig Logo" />
          </a>
        </div>
        <nav class="col col--4-of-5">
          <a class="btn" href="/login">Get Started</a>
        </nav>
      </div>
    </header>
    <section class="container hero">
      <div class="grid">
        <div class="col col--1-of-3">
          <div id="iphone">
            <div class="group-name">bffls</div>
            <div class="screen">
              <div class="bubble left alt">Ok where to eat</div>
              <div class="bubble right">Who else is comin</div>
              <div class="bubble left">Omg can we karaoke LOL</div>
              <div class="bubble left alt">2 expensive :(</div>
              <div class="bubble right">what about Rusty tacos?</div>
              <div class="bubble left">eh too far</div>
              <div class="bubble left alt-2">im confused wats goin on</div>
            </div>
          </div> 
        </div>
        <div class="col--2-of-3">
          <h2>Bad news: no one likes to plan.</h2>
          <h1>Good news: no one has to.</h1>
          <p>
            Create and share an event with your friends. Let them input their availability and preferences. The rest? Don't worry about it.
          </p>
          <a class="btn cta reg facebook" href="/login">Login Using Facebook</a>
        </div>
      </div>
    </section>
    <footer class="container">
      <div class="grid">
        <div class="col--1-of-1 col--centered">
          <a href="/">home</a> | <a href="/login">sign up</a> | <a href="about">about</a>
          <a class="foursquare" href="http://www.foursquare.com">
            <img src="{{ url_for('static', filename='images/foursquare.png') }}" alt="Powered by Foursquare" />
          </a>
        </div>
      </div>
    </footer>
      
    <script src="js/vendor/jquery.js"></script>
  </body>
</html>
